<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>12</TotalTime><Application>LibreOffice/7.3.4.2$Linux_X86_64 LibreOffice_project/30$Build-2</Application><AppVersion>15.0000</AppVersion><Pages>2</Pages><Words>232</Words><Characters>1858</Characters><CharactersWithSpaces>2129</CharactersWithSpaces><Paragraphs>26</Paragraphs></Properties>