.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}
.button
{
-fx-background-color : #05072A;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}
.transparent-button {
	-fx-background-color : transparent;
		-fx-border-color:#B7C3D7;
		-fx-border-radius: 2em;
}
.transparent-button:hover {
	-fx-text-fill : #05071F;
	-fx-background-color : white !important;
	-fx-border-radius:2em;
	-fx-border-color : transparent;
	-fx-background-radius : 2em;
	
}
.btn-forget:hover {
	-fx-text-fill : #B7C3D7;
}
.transparent-button1 {
-fx-background-color:transparent;
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button1:hover {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , red,transparent, transparent);
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button1:pressed {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , white,transparent, transparent);
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button1-login {
	-fx-background-color:transparent;
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button1-login:hover {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , white,transparent, transparent);
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button1-login:pressed {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , red,transparent, transparent);
    -fx-border-color: null;
    -fx-border-radius:2em;
    -fx-text-fill:black;
}
.transparent-button2 {
	-fx-background-color : transparent;
		-fx-border-color:#B7C3D7;
		-fx-border-radius: 2em;
}
.transparent-button2:hover {
	-fx-text-fill : #05071F;
	-fx-background-color : white !important;
	-fx-border-radius:2em;
	-fx-border-color : transparent;
	-fx-background-radius : 2em;
	
}